<div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills">
          <li class="nav-item" role="presentation" ><a class="nav-link active" href="/">Volver</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">MERIDA STORE</h3>
    </div>

    <div class="jumbotron">
      <h1>Datos de producto</h1>
      <form class="form"  #f="ngForm" (ngSubmit)="create(f)">

        <label for="inputModelo" class="">Modelo</label>
        <select  ngModel name="inputModelo" id="inputModelo" class="form-control" placeholder="Modelo de lentes" required autofocus>
          <option value="cosmeticos">cosmeticos</option>
          <option value="convencional">Convencional</option>
          <option value="de contacto">De Contacto</option>
        </select>

        <label for="inputNombre" class="">Nombre</label>
        <input type="text" ngModel name="inputNombre" id="inputNombre" class="form-control" placeholder="Ingrese el nombre" required>

        <label for="inputMarca" class="">Marca o Fabricante</label>
        <input type="text"  ngModel name="inputMarca" id="inputMarca" class="form-control" placeholder="Ingrese la Marca" required>

        <label for="inputDescripcion" class="">Descripcion</label>
        <textarea  ngModel class="form-control" name="inputDescripcion" id="inputDescripcion" rows="3"></textarea>

        <label for="inputPrecio" class="">Precio (dolares)</label>
        <input  ngModel type="number" name="inputPrecio" id="inputPrecio" class="form-control" placeholder="0.00" min="0" max="100000" required>
        
        <br><button id="btnAddProduct" class="btn btn-lg btn-success btn-block" type="submit">Agregar Producto</button>
      </form>
    </div>

    

    <footer class="footer">
      <p>&copy; Optica Merida Store 2020</p>
    </footer>

  </div>