<footer class="footer-section">
    <div class="container">
        
        <div class="footer-content pt-5 pb-3">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <label style="color: #fff; font-size: 30px;">Óptica Mérida</label>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Categorías</h3>
                        </div>
                        <ul>
                            <li><a href="#">De sol</a></li>
                            <li><a href="#">De contacto</a></li>
                            <li><a href="#">Cosméticos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Marcas</h3>
                        </div>
                        <ul>
                            <li><a href="#">Dior</a></li>
                            <li><a href="#">Ray - Ban</a></li>
                            <li><a href="#">Dolce & Gabanna </a></li>
                            <li><a href="#">Y más ... </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Contactanos</h3>
                        </div>
                        <ul style="color: #878787;">
                            <li><i class="fa fa-phone"> 0424 - 123123</i></li>
                            <li><i>tucorreo@correo.com</i></li>
                        </ul>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        
                        <ul>
                            <li><a href=""> <i class="fa wp-icon fa-facebook-f "> </i></a> </li>
                            <li> <a href=""><i class="fa wp-icon fa-twitter"></i></a> </li>
                            <li> <a href=""><i class="fa wp-icon fa-instagram"></i></a> </li>
                            <li> <a href=""><i class="fa wp-icon fa-youtube"></i></a> </li>
                        </ul>
 
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>